footer {
 display:flex;
 justify-content:center;
 align-items: center;
 flex-direction:column;
 background-color: #6d6767;
 margin-top:15px;
}

.barekMusic {
 text-align:center;
 padding-top: 5px;
 font-family: 'Kanit', sans-serif;
 font-family: 'Permanent Marker', cursive;
 color:#d6253d; 
 text-shadow:  #1f1d1d 1px 2px;
 font-weight: 500;
 margin: 0px;
}

.msgAutor {
 text-align:center; 
 font-weight: 500; 
 margin: 0px; 
 padding: 5px;
}

.redesIcons {
 display: flex;
 justify-content: center;  
 align-items: center;
 font-size: 20px;
 gap: 20px;
 padding-bottom: 5px;
}
